
body {
    background-color: #000000;
}



p {
    color: rgb(37, 177, 118);
   
    /*font-size: 15px;
    font-family: 'Times New Roman', Times, serif;  */
    font: 35px 'Time New Roman';
    
}

span em {
    font-size: 35px;
}

span {
    color: rgb(0, 26, 255);
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}


a:hover {
color: aqua;
font-size: 45px;
}

/* unvisited link */
a:link 
 { 
     color:#FF0000; 
} 

/* visited link */
a:visited { 
    color: green; 
} 

/* moused over */
a:hover { 
    color: rgb(128, 0, 0); 
}

/* selected with keyboard*/

a:focus {
     color: purple;
} 

/* activated link */
a:active { 
    color: blue; 
} 

/*gruped*/

a:link, a:visited, a:focus, a:active {
    color: #FF0000;
}

p em, span, a {
    font-size: 35px;
    color: rgb(64, 144, 219);
}